* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  height: 6rem;
  background: linear-gradient(to right, #ffffff, #fad55c);
  font-size: 1.4rem;
  font-weight: bolder;
  position: sticky;
  top: 0;
  z-index: 99999999;
}

.nav-bar > .nav-bar-logo {
  display: flex;
  align-items: center;
}

.nav-bar > .nav-bar-logo > span {
  color: black;
  font-size: 1.6rem;
}

.nav-bar > .nav-bar-logo > img {
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}

.nav-bar > .nav-bar-contents {
  display: flex;
}

.nav-bar > .nav-bar-contents a {
  width: 10rem;
  height: 3rem;
  display: flex;
  text-decoration: none;
}

.nav-bar > .nav-bar-contents a button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  color: #ffde59;
  background: #4c4637;
}

.nav-bar > .nav-bar-contents a:nth-child(2) {
  margin: 0 1.6rem;
}

.nav-bar > .nav-bar-contents button:hover {
  background: #ffffff;
  color: #4c4637;
  cursor: pointer;
}

.nav-bar > .nav-bar-contents button:active {
  transform: scale(0.95);
  user-select: none;
}

section {
  position: relative;
}

section .bg-img {
  width: 100%;
  height: 100%;
  opacity: 0.15;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#about-me {
  width: 100%;
  height: calc(100vh - 6rem);
}

#about-me .profile-box {
  width: 100%;
  height: 100%;
  display: flex;
}

#about-me .profile-box .basic-info-part {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#about-me .profile-box .basic-info-part .basic-info h1 {
  font-size: 2.6rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0.6rem 0;
}

#about-me .profile-box .basic-info-part .basic-info h3 {
  margin: 0.1rem 0;
  font-size: 1.2rem;
}

#about-me .profile-box .basic-info-part .basic-info #yellow-line {
  width: 100%;
  height: 0.2rem;
  background: #fad55e;
  margin: 0.6rem 0 0.4rem 0;
}

#about-me .profile-box .basic-info-part .profile-img img {
  width: 20vw;
  height: 40vh;
  border-radius: 50%;
  border: 2px solid lightgray;
}

#about-me .profile-box .basic-info-part .logo-box {
  user-select: none;
}

#about-me .profile-box .basic-info-part .logo-box a {
  font-size: 2.2rem;
  cursor: pointer;
}

#about-me .profile-box .basic-info-part .logo-box a:active i {
  transform: scale(0.95);
}

#about-me .profile-box .basic-info-part .logo-box a:nth-child(2) {
  margin: 0 1rem;
}

#about-me .profile-box .detail-info-part {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-me .profile-box .detail-info-part h1 {
  font-size: 4.5rem;
  color: #4c4637;
  text-transform: uppercase;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  border: none;
  color: #ffde59;
  background: #4c4637;
  padding: 1rem 3rem;
  border-radius: 2rem;
  user-select: none;
}

#about-me .profile-box .detail-info-part .career-logo-box a {
  width: 10vw;
  height: 20vh;
}

#about-me .profile-box .detail-info-part .career-logo-box a img {
  width: 10vw;
  height: 20vh;
  padding: 1rem;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
}

#about-me .profile-box .detail-info-part .career-logo-box img:hover {
  transform: scale(0.95);
}

#about-me .profile-box .detail-info-part .career-logo-box img:active {
  transform: scale(1);
}

#about-me .profile-box .detail-info-part .career-logo-box a:nth-child(2) {
  margin: 0 5vw;
}

#about-me .profile-box .detail-info-part .career-logo-box a:nth-child(2) img {
  margin: 6vh 0;
}

#project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
}

#project > header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 1rem 2.5rem;
  font-size: 3rem;
  border-radius: 2rem;
  font-weight: bold;
  border: none;
  color: #ffde59;
  background: #4c4637;
}

#project .introduce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.4rem 0;
}

#project .introduce h4 {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

#project .introduce p {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

#project .introduce p span {
  font-size: 1.8rem;
  font-weight: bolder;
  color: #ffde59;
  background: #4c4637;
  line-height: 3.2rem;
  border-radius: 0.4rem;
  margin-right: 0.4rem;
  padding: 0 0.4rem;
}

#project > main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#project > main > .project-detail {
  display: block;
  text-align: center;
  width: 100%;
  height: 30vh;
}

#project > main > .project-detail:nth-child(2) {
  margin: 0 5vw;
}

#project > main > .project-detail > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}

#project > main > .project-detail > a > img {
  width: 85%;
  height: 85%;
  object-fit: contain;
}

#project > main > .project-detail > h1 {
  margin: 1.5rem 0;
  font-size: 1.6rem;
  font-weight: bolder;
}

#project > main > .project-detail button {
  font-size: 1.2rem;
  width: 12rem;
  height: 2.5rem;
  border-radius: 1rem;
  border: none;
  background: #4c4637;
  color: white;
  cursor: pointer;
}

#project > main > .project-detail button:hover {
  color: #4c4637;
  background: white;
  font-weight: bolder;
}

#project > main > .project-detail button:active {
  transform: scale(0.95);
}
